:root {
  --anim: 0.2s ease;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active,
:focus-visible,
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:-moz-read-only.no-edit {
  pointer-events: all;
  background: var(--white);
}

input:read-only.no-edit {
  pointer-events: all;
  background: var(--white);
}

input:-moz-read-only {
  cursor: unset;
}

input:read-only {
  cursor: unset;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

* {
  -webkit-tap-highlight-color: transparent !important;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  font-family: sans-serif;
}

.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.page {
  flex: 1 1 auto;
}

.file-three__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.file-three__container > .file-three__list > .file-three__item-file {
  margin-left: 18px;
}
.file-three__container > .file-three__list {
  overflow: hidden;
}
.file-three__list {
  position: relative;
}
.file-three__list::before {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% + 10px);
  border-left: 1px dotted #000000;
  left: 6px;
  top: -25px;
  z-index: -1;
}
.file-three__list .file-three__list {
  padding-left: 18px;
}
.file-three__item {
  position: relative;
}
.file-three__item::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  border: 1px dotted #000000;
  left: -11px;
  top: 15px;
  z-index: -1;
}
.file-three__item:not(.file-three__item-file)::before {
  left: 10px;
}
.file-three__item-header {
  display: flex;
  align-items: center;
}
.file-three__item-icon {
  width: 20px;
  height: 30px;
  background: url("../images/folder.png") center no-repeat;
  background-size: contain;
}
.file-three__item-name {
  margin-left: 3px;
}
.file-three__item-btn {
  position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid #000000;
  margin-right: 5px;
  background: #ffffff;
}
.file-three__item-btn::before {
  content: "+";
  position: absolute;
  font-size: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.file-three__item-file > .file-three__item-header > .file-three__item-icon {
  background: url("../images/file.png") center no-repeat;
  background-size: contain;
}
.file-three__item > .file-three__list {
  display: none;
}
.file-three__item_open > .file-three__item-header > .file-three__item-icon {
  background: url("../images/folder-open.png") center no-repeat;
  background-size: contain;
}
.file-three__item_open > .file-three__list {
  display: block;
}
.file-three__item_open > .file-three__item-header > .file-three__item-btn::before {
  content: "-";
}/*# sourceMappingURL=style.css.map */